body {
    color: #000000;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    max-width: 1300px;
    min-width: 900px;
    margin: 0 auto;
    padding: 0;
  }

  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    margin-top: 6px;
    padding: 1em;
  }

  nav {
    background-color: #000000;
    margin-top: 6px;
    border-radius: 30px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  nav li {
    list-style: none;
    padding: 45px;
  }

  h1 {
    color: #000000;
    background-color: #000000;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    margin-bottom: 5px;
    font-family: 'Rubik', sans-serif;
    text-decoration: underline;
    font-size: 25px;
    text-transform: capitalize;
  }

  div {
    padding: 6px;
  }

  .overview {
    display: flex;
    flex-direction: row;
  }

  .overview p {
    margin-right: 15px;
  }

  .personal-exerience {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }

  .personal-exerience p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 8px;
  }

  h4 {
    font-family: 'Rubik', sans-serif;
    text-decoration: underline;
  }

  p {
    font-size: 16px;
  }

  li {
    font-size: 14px;
  }

  em {
    font-weight: bold;
    font-size: 16px;
  }

  nav a {
    color: #ffee00;
    font-size: 20px;
  }
